{% extends 'supbase.html' %}
{% block content %}

<div class="container-fluid">

<h3 class="mb-4">Treatment Records</h3>

<div class="row">

<!-- FORM -->
<div class="col-md-4">
<div class="card">
<div class="card-header">Record Treatment</div>

<div class="card-body">
<form method="POST">
{% csrf_token %}

<div class="mb-3">
<label>Date</label>
<input type="date" name="date" class="form-control">
</div>

<div class="mb-3">
<label>House</label>
<select name="house" class="form-control">
<option>House A</option>
<option>House B</option>
</select>
</div>

<div class="mb-3">
<label>Disease</label>
<input type="text" name="disease" class="form-control">
</div>

<div class="mb-3">
<label>Medication</label>
<input type="text" name="medication" class="form-control">
</div>

<div class="mb-3">
<label>Dosage</label>
<input type="text" name="dosage" class="form-control">
</div>

<button class="btn btn-success w-100">Save</button>

</form>
</div>
</div>
</div>

<!-- TABLE -->
<div class="col-md-8">
<div class="card">
<div class="card-body">

<div class="table-responsive">
<table class="table table-bordered">

<thead>
<tr>
<th>Date</th>
<th>House</th>
<th>Disease</th>
<th>Medication</th>
<th>Dosage</th>
<th>Mode of Administration</th>
<th>vet name</th>
</tr>
</thead>

<tbody>

<tr>
<td>31st march 2026</td>
<td>house A</td>
<td>Coccidiosis</td>
<td>sulfadimethoxine</td>
<td>500mg</td>
<td>eye drop</td>
<td>shakirah</td>
</tr>

</tbody>

</table>
</div>

</div>
</div>
</div>

</div>

</div>

{% endblock %}