{% extends "supbase.html" %}
{% block content %}

<h3 class="mb-4">Operational Overview</h3>

<div class="row g-4">

    <div class="col-md-3">
        <div class="card  border-warning">
            <div class="card-body">
                <h6>Pending Approvals</h6>
                <h4>5</h4> <!-- /* Replace with dynamic count of pending approvals */ -->
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card  border-danger">
            <div class="card-body">
                <h6>Deaths Today</h6>
                <h4>20</h4> <!-- /* Replace with dynamic count of deaths today */ -->
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card  border-success">
            <div class="card-body">
                <h6>Total Eggs In stock </h6>
                <h4>200</h4> <!-- /* Replace with dynamic count of eggs available*/ -->
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card  border-primary">
            <div class="card-body">
                <h6>Total Houses Cleaned Today</h6>
                <h4>2</h4> <!-- /* Replace with dynamic count cleaned houses*/ -->
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card  border-warning">
            <div class="card-body">
                <h6>Last vaccination</h6>
                <h4>22th March, 2026</h4> <!-- /* Replace with dynamic Date of last vaccine */ -->
            </div>
        </div>
    </div>

</div>

{% endblock %}