{% extends "wbase.html" %}
{% block content %}

<div class="container mt-4">

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h4>User: {{ request.user.get_full_name|default:request.user.username }}</h4> 
             <p><strong>Assigned House:</strong>   {% if house %}
                                                        {{ house.name }}
                                                    {% else %}
                                                        Not Assigned
                                                    {% endif %}</p>
            <p><strong>Total Birds:</strong> {{ total_birds }}</p> 
        </div>
    </div>

    <div class="row g-4">

        <div class="col-md-4">
            <a href="{% url 'record_egg' %}" class="btn btn-primary w-100 p-4">
                🥚 Record Eggs
            </a>
        </div>

        <div class="col-md-4">
            <a href="{% url 'record_feed' %}" class="btn btn-warning w-100 p-4">
                🌾 Record Feed
            </a>
        </div>

        <div class="col-md-4">
            <a href="{% url 'record_cleaning' %}" class="btn btn-success w-100 p-4">
                🧹 Record Cleaning
            </a>
        </div>

    </div>

</div>

{% endblock %}